<div class="container d-flex w-100 h-100">

  <div class="container-fluid d-flex w-25 border-end"></div>

  <div class="container w-75">
    <div class="container ms-1 py-3">
      <h2 class="fw-bold">Todas as Tarefas</h2>

      <div class="input-group my-3 py-2">

        <input type="text" class="form-control" placeholder="Informe a tarefa que deseja adicionar"
          aria-label="Informe a tarefa que deseja adicionar" aria-describedby="button-addon2">
        <button class="btn btn-outline-dark" type="button" id="button-addon2">Criar Tarefa</button>


        <div class="container m-5">
          <div class="container mt-2" *ngFor="let tarefa of tarefas">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{tarefa.title}}
              </label>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
